<div id="top"></div>

<p align="center">
    <a href="https://github.com/{{ github_repo }}/stargazers">
        <img src="https://img.shields.io/github/stars/{{ github_repo }}.svg?style=flat-square" alt="Stars" />
    </a>
    <a href="https://github.com/{{ github_repo }}/actions">
        <img src="https://img.shields.io/github/workflow/status/{{ github_repo }}/ci?style=flat-square" alt="Build Status" />
    </a>
    {% block additional_shields %}
    {% endblock %}
</p>

{{ short_description }}

# Usage

See examples/ directory for usage.

This example loads configuration from environment variables, specifically:
{% for var in env_vars %}
* `{{ var }}`
{% endfor %}

{% block installation %}
{% endblock %}

# Documentation

{% if api_docs_url %}
* [API Documentation]({{ api_docs_url }})
{% endif %}
{% if client_docs_url %}
* [Client Library Documentation]({{ client_docs_url }})
{% endif %}

You can see working examples of every API call in the `examples/` directory.

# Contributing

Contributions are welcome!

*Library created with [Libninja](https://www.libninja.com).*