{% extends "base/README.md.j2" %}
{% block additional_shields %}
<a href="https://crates.io/crates/{{ package_name }}">
    <img src="https://img.shields.io/crates/d/{{ package_name }}?style=flat-square" alt="Downloads" />
</a>
<a href="https://crates.io/crates/{{ package_name }}">
    <img src="https://img.shields.io/crates/v/{{ package_name }}?style=flat-square" alt="Crates.io" />
</a>
{% endblock %}

{% block installation %}
# Installation

Add this to your Cargo.toml:

```toml
[dependencies]
{{ package_name }} = ".."
```
{% endblock %}
